@model PostCreateViewModel

<div class="row">
    <div class="col-12">
        <div class="bg-white p-4">
            <h1>Post EKLE</h1>
            <form method="post" asp-action="Create">
                <div asp-validation-summary="All" class="text-danger"></div>
                <div class="mb-3">
                    <span asp-validation-for="Title" class="text-danger"></span>
                    <label asp-for="Title" class="form-label"></label>
                    <input asp-for="Title" class="form-control">
                </div>
                <div class="mb-3">
                    <span asp-validation-for="Description" class="text-danger"></span>
                    <label asp-for="Description" class="form-label"></label>
                    <input asp-for="Description" class="form-control">
                </div>
                <div class="mb-3">
                    <span asp-validation-for="Url" class="text-danger"></span>
                    <label asp-for="Url" class="form-label"></label>
                    <input asp-for="Url" class="form-control">
                </div>
                <div class="mb-3">
                    <span asp-validation-for="Content" class="text-danger"></span>
                    <label asp-for="Content" class="form-label"></label>
                    <textarea asp-for="Content" class="form-control"></textarea>
                </div>

                <button type="submit" class="btn btn-primary">Ekle</button>
            </form>
        </div>
    </div>
</div>

@section Scripts {
    <script src="https://cdnjs.cloudflare.com/ajax/libs/tinymce/7.6.0/tinymce.min.js"
        integrity="sha512-/4EpSbZW47rO/cUIb0AMRs/xWwE8pyOLf8eiDWQ6sQash5RP1Cl8Zi2aqa4QEufjeqnzTK8CLZWX7J5ZjLcc1Q=="
        crossorigin="anonymous" referrerpolicy="no-referrer"></script>

    <script>
        tinymce.init({
            selector: '#Content'
        });
    </script>
}