@model PostsViewModel


<div class="row g-3">
    <div class="col-lg-8">
        <div class="bg-white p-4">
            <h1 class="h4 mb-4">Popüler Gönderiler</h1>
            @foreach (var post in Model.Posts)
            {
                <div class="card bg-transparent border-0 mb-3">
                    <div class="row">
                        <div class="col-4">
                            <img src="~/img/@post.Image" alt="" class="img-fluid rounded">
                        </div>
                        <div class="col-8">
                            <h5>
                                <a href="/post/details/@post.Url" class="btn-link fw-bold">@post.Title</a>
                            </h5>
                            <p>@post.Description</p>
                            <div class="tags">
                                @foreach (var tag in post.Tags)
                                {
                                    <a href="/post/tag/@tag.Url"
                                        class="badge bg-@tag.Color bg-opacity-10 text-@tag.Color mb-2 fw-bold">@tag.Text
                                    </a>
                                }
                            </div>
                        </div>
                    </div>
                </div>
                <hr class="my-3">
            }
            <nav class="d-flex justify-content-end">
                <ul class="pagination">
                    <li class="page-item">
                        <a href="#" class="page-link">1</a>
                    </li>
                    <li class="page-item">
                        <a href="#" class="page-link">2</a>
                    </li>
                    <li class="page-item">
                        <a href="#" class="page-link">3</a>
                    </li>
                    <li class="page-item">
                        <a href="#" class="page-link">4</a>
                    </li>
                </ul>
            </nav>
        </div>
    </div>
    <div class="col-lg-4">
        <vc:tags-menu></vc:tags-menu>
        <vc:new-post></vc:new-post>
    </div>
</div>